<div class="container py-4 m-1 has-text-centered">
  <p class="is-size-4 has-text-weight-bold"><%= @user.username %></p>
</div>
<div class="container columns p-3">
  <div class="column is-4 px-0 mx-2 py-1">
    <a href="">
      <div class="box my-1 has-text-centered">
        <p class="has-text-weight-bold">Friends: <%= @user.friends.count %></p>
      </div>
    </a>
  </div>
  <div class="column is-4 px-0 mx-2 py-1">
  <a href="">
    <div class="box my-1 has-text-centered">
      <p class="has-text-weight-bold">Sended Requests: <%= @user.sent_requests.count %></p>
    </div>
  </a>
  </div>
  <div class="column is-4 px-0 mx-2 py-1">
  <a href="">
    <div class="box my-1 has-text-centered">
      <p class="has-text-weight-bold">Received Requests: <%= @user.received_requests.count %></p>
    </div>
  </a>
  </div>
</div>

  
  