<div class="container py-4 m-1 has-text-centered">
  <p class="is-size-4 has-text-weight-bold">Sent Requests</p>
</div>

<% if @sent_requests.empty? %>
  <p class="is-size-5 has-text-centered">You have no pending sent friendship requests yet.</p>
<% end %>

<div class="columns is-centered">
  <div class="column is-7">
  <% @sent_requests.each do |friendship| %> 
    <div class="card mb-4 px-3 pb-5 special-border">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img src="https://bulma.io/images/placeholders/96x96.png" class="is-rounded" alt="Placeholder image">
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">
              <a href="<%= user_profile_path(friendship.friend_id) %>"><%= friendship.friend.username %></a>
            </p>
            <p class="subtitle is-6"><%= friendship.friend.email %></p>
          </div>
        </div>
      </div>
      <%# Show buttons according to friendship state %>
      <div class="columns px-5">
        <div class="column">
          <%= button_to 'Cancel Request', {:controller => "friendships", :action => "destroy", id: friendship.id},
          :method=>:delete, class: 'button is-warning is-light is-fullwidth' %>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>