<%= render "post", post: @post %>
<div class="columns is-centered">
    <div class="column is-9"> 
      <div class="buttons is-flex-direction-row-reverse py-1">
        <%= link_to 'Back to Flow', posts_path, class: 'button is-link px-6 likes_button' %>
      </div>
    </div>
</div>