/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 div.special-border {
  border: 1px solid rgb(234, 234, 234);
  border-radius: 36px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.065);
}

div.vertical-line {
  border-left: 1px solid #a7a7a7;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 1px;
}

nav.navbar {
  position: sticky;
  border-bottom: 1px solid rgba(212, 212, 212, 0.85);
  top: 0px;
}

a.navbar-burger {
  border: 1px solid rgba(212, 212, 212, 0.85);
  border-radius: 12px;
}

div.profile-card{
  box-shadow: 0px -1px 8px 0px rgba(0, 0, 0, 0.060);
}

/* Sign up and Sign in pages design */

:root {
  --brandColor: hsl(166, 67%, 51%);
  /* --background: rgb(247, 247, 247); */
  --textDark: hsla(0, 0%, 0%, 0.66);
  --textLight: hsla(0, 0%, 0%, 0.33);
}

body {
  background: var(--background);
  height: 100vh;
  color: var(--textDark);
}

.field:not(:last-child) {
  margin-bottom: 1rem;
}

.register {
  margin-top: 10rem;
  background: white;
  border-radius: 10px;
}

.left,
.right {
  padding: 4.5rem;
}

.left {
  border-right: 5px solid var(--background);
}

.left .title {
  font-weight: 800;
  letter-spacing: -2px;
}

.left .colored {
  color: var(--brandColor);
  font-weight: 500;
  margin-top: 1rem !important;
  letter-spacing: -1px;
}

.left p {
  color: var(--textLight);
  font-size: 1.15rem;
}

.right .title {
  font-weight: 800;
  letter-spacing: -1px;
}

.right .description {
  margin-top: 1rem;
  margin-bottom: 1rem !important;
  color: var(--textLight);
  font-size: 1.15rem;
}

.right small {
  color: var(--textLight);
}

input {
  font-size: 1rem;
}

input:focus {
  border-color: var(--brandColor) !important;
  box-shadow: 0 0 0 1px var(--brandColor) !important;
}

.fab,
.fas {
  color: var(--textLight);
  margin-right: 1rem;
}

/* Post body text wrap */
p {
  word-break: break-all;
  white-space: normal;
}

/* turbo-frame {
  border: 1px solid rgb(0, 47, 255);
  display: block;
} */